.bubble {
  border: 1px solid #4e53d5;
  background: #5180d0;
  border-radius: 50%;
  padding: 5px;
  height: 12px;
  width: 12px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  animation: mymove 2s ease-in-out infinite alternate;

  &:hover {
    background: #d5de31;
  }
}

@keyframes mymove {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.3);
    }
}
